/* Starting CSS with some minor global properties */
body{
    font-family: Arial, Helvetica, serif;
    font-size: 13px;
    background: url("./rain-drops.jpg") fixed no-repeat;
    background-size: cover;
}
*{
    flex-shrink: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    outline: none;
    border: none;
}
i:hover{
    cursor: pointer;
}
/* Starting component wise css */
.icon{
    margin-right: 5px;
}
/* Top header of page having two bars title bar(named as top) and menu bar */
header{
    height: 7rem;
    font-size: 1rem;
}
header *{
    color: #fff;
}
/* common properties of both the bars */
.bar{
    height:3rem;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px 20px;
}
.bar{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
/* seperate declaration of both bars to add unique properties */
.top{
    background-color:rgba(51, 111, 127,0.6);
    top:0;
}
.menu{
    background-color:rgba(62, 79, 68,0.4);
    top:3rem;
    justify-content: space-between;
}
/* styling the icons within the bars */
.bar i{
    font-size: 1rem;
}
.bar > div{
    height: 100%;
    width:auto;
    display: flex;
    justify-content: space-between;
}
.top >div div, .top input{
    background-color: #117e9c;
    border-radius: 4px;
    padding: 5px;
    line-height: 20px;
    margin-left: 10px;
    height: 100%;
}

input:focus{
    background-color: #fff;
    color: #000;
}
.hover:hover *{
    cursor: pointer;
    color: #d1d1d1;
}
/* Name of the app in bakdrop of title bar */
#name{
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -999;
    font-size: 1.5rem;
    text-align: center;
    background-color:transparent;
    border-radius: 0;
    padding-top: 1rem;
}

/* End of header file */
main{
    margin-top: 0;
    display: flex;
    align-items: flex-start;
    
}

.box{
    background-color: #dbdfdf;
    color:#555;
    padding: 10px;
    margin:10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 4px;
    
    min-width:240px;
}
.box > *{
    margin-bottom: 0.5rem;
    width: 100%;
}
.title{
    font-weight: bold;
}
.title i{
    float:right;
    color:#888;
    cursor: pointer;
    font-size: 12px;
}
.title i:hover{
    color: #555;
}
.input{
    background-color: #fff;
    border-radius: 4px;
    padding: 5px;
    line-height: 20px;
}
.input:hover{
    background-color: #f4f5f5;
    cursor: pointer;
}
.pen > i{
    visibility: hidden;
    float: right;
}
.pen:hover > i{
    visibility: visible;
}
.add-another-card{
    margin-bottom: 0;
}
.add-another-card span{
    margin-left: 5px;
}
.add-another-card:hover{
    color: #888;
    cursor: pointer;   
}

textarea{
    resize: none;
    height: 4rem;
    padding: 8px;
    border-radius: 4px;
    width: 100%;
}
.add{
    display: flex;
    text-align: center;
}
.add button{
    background-color: #808000;
    font-size: 1rem;
    line-height: 20px;
    padding: 7px;
    margin-right: 10px;
    color:#fff;
    border-radius: 4px;
}
.add button:hover{
    background-color:#9d9f44;
}
.add .cls{
    font-size: 1.8rem;
    cursor: pointer;
}
.add .cls:hover{
    color:#808180;
}
