body{
    margin: 50px 20px;
    font-family: Arial, Helvetica, serif;
    font-size: 13px;
    background: url("./rain-drops.jpg") fixed no-repeat;
}
*{
    box-sizing: border-box;
    letter-spacing: 1px;
    outline: none;
    border: none;
}
main{
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}
.box{
    background-color: #dbdfdf;
    color:#555;
    padding: 10px;
    margin:10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 4px;
    flex-shrink: 0;
    min-width:240px;
}
.box > *{
    margin-bottom: 0.5rem;
    width: 100%;
}
.title{
    font-weight: bold;
}
.title i{
    float:right;
    color:#888;
    cursor: pointer;
    font-size: 12px;
}
.title i:hover{
    color: #555;
}
.input{
    background-color: #fff;
    border-radius: 4px;
    padding: 5px;
    line-height: 20px;
}
.input:hover{
    background-color: #f4f5f5;
    cursor: pointer;
}
.pen > i{
    visibility: hidden;
    float: right;
}
.pen:hover > i{
    visibility: visible;
}
.add-another-card{
    margin-bottom: 0;
}
.add-another-card span{
    margin-left: 5px;
}
.add-another-card:hover{
    color: #888;
    cursor: pointer;   
}

textarea{
    resize: none;
    height: 4rem;
    padding: 8px;
    border-radius: 4px;
    width: 100%;
}
.add{
    display: flex;
    text-align: center;
}
.add button{
    background-color: #808000;
    font-size: 1rem;
    line-height: 20px;
    padding: 7px;
    margin-right: 10px;
    color:#fff;
    border-radius: 4px;
}
.add button:hover{
    background-color:#9d9f44;
}
.add .cls{
    font-size: 1.8rem;
    cursor: pointer;
}
.add .cls:hover{
    color:#808180;
}